* {
  margin: 0;
  padding: 0;
}

/* navbar related style */
nav {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  align-items: center;
}

nav img {
  justify-content: center;
  align-items: center;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

nav div ul {
  display: flex;
  list-style: none;
  gap: 24px;
  align-items: center;
}

ul li a {
  text-decoration: none;
  color: #575757;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-button,.top-button-header {
  border-radius: 8px;
  color: #ffffff;
  background-color: #1d4ed8;
  border: none;
  padding: 7px 30px;
}


/* header related style */

header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/banner.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: grid;
  align-items: center;
}

.header-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
    gap: 20px;
}

.top-button-header{
    margin: 300px 600px;
    padding: 5px auto;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-decoration: none; 
}





